@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <app-root>
    </app-root>
</div>
<link rel="stylesheet" href="~/style.css" />
<script src="~/inline.bundle.js" asp-append-version="true"></script>
<script src="~/polyfills.bundle.js" asp-append-version="true"></script>
<script src="~/vendor.bundle.js" asp-append-version="true"></script>
<script src="~/main.bundle.js" asp-append-version="true"></script>